.fixednav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

a:first-child {
  margin-right: auto;
  margin-left: 80px;
}

a {
  margin-left: 25px;
  /* margin-right: 80px; */
  text-decoration: none;
}

a:last-child {
  margin-right: 80px;
}

nav {
  margin-right: 80px;
}
